body {
    margin: 0;
    padding: 0;
    background-image: url('https://businessplaces.net/images/links/1677570232.webp');
    background-attachment: fixed;
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    background-image: url('/image/Amursk_leto.jpg'); background-repeat: no-repeat;
    background-position: center; background-size: cover;
}
h1{
    color: rgb(245, 78, 18);
    font-size: 70px;
    font-family: fantasy; 
}
h2{   /* Параметры которые часто повторяются для поддержания стиля , объединил в блок
    Что бы не приминять их постоянно !*/
    padding-top: 15px;
    padding-bottom: 20px;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; color: coral; font-size: 50px;
}
div{   /* Параметры которые часто повторяются для поддержания стиля , объединил в блок*/
    padding: 20px;
    margin: 70px;
    border: solid; border-width: 6px; 
    border-radius: 8px;
}
.new-info{  /* Стало ясно что этот пункт мне ненужен на середине пути!
    Оставил строку, жаль удалять))*/
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
    
}
.sport-info{ /* Все запомнить сразу не выходит , были затруднительные пункты например выравнивание картинок относительно текста!*/
    background-image: url("https://plus.unsplash.com/premium_photo-1664300596185-696af4fcd352?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;  background-position: center; background-size: cover;
}
.warning-text{
    text-transform: uppercase;
    color: red;
}
.Polimetal-info{
    background-color: white; 
}
.sad-text{
    background-color: rgb(200, 238, 162);
    align-content: center;
    
}
#flag{
    margin: 40px;
    border: double; border-radius: 15px; border-width: 6px; 
    background-image: url('https://rst.vs-group.ru/upload/iblock/43d/zHVaajusv_etag_E4395E670946FDF2584B61396875FD3C409FAC3D.png');
    background-repeat: no-repeat; background-position: center;background-size: cover;
    display: flex; align-items: center; justify-content: center; height: 350; 
}
#foto-repear{
    border: double; border-radius: 20px; border-width: 4px;
    width: 350; height: 200;
    margin: 15px;
    display: inline-block; 
}
#sport-id{
    color: rgb(248, 76, 8);
}
#danger{
color: rgb(103, 236, 103);
text-align: center;
text-transform: uppercase;
}
div:nth-child(2n+2){
    background-color: rgb(112, 137, 245);
}
p{
    font-size: 35px;
    font-family: 'Lucida Sans';
    color: #160b16;
}
.links{
     text-align: center;
     text-transform: uppercase;
     font-size: 30px;
     border: none;
}
button{
    padding: 15px; 
    margin: 10px;
    background-color: rgb(17, 16, 78);
    border-radius: 32px; 
}
#repear-text{
    padding-top: 15px;
    padding-bottom: 20px;
    text-align: center;
    font-family: fantasy; color: rgb(18, 224, 63); font-size: 50px;
}
a{
    color: coral; font-size: 20px; font-family: fantasy; 
}
.about-text-footer{
    background-color: rgb(190, 245, 245);
}  
li{
    text-transform: uppercase;
    color: rgb(2, 2, 107);
}
#pages-center{
    width: 70px;
    height: 30px;
}
#creater{
    text-transform: uppercase;
}
.address-text{
    background-color: aliceblue;
    text-align: center;
}
.img-increase{   /* Пробуем создать всплывающие окно под курсором*/
    width: 300;
    height: 250;
    margin: 15px;
    background-color: lime;
}
.img-increase img {   /* Пробуем создать всплывающие окно под курсором*/
    transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
    align-content: center;
    }
    .img-increase img:hover{
    transform: scale(2);
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -o-transform: scale(2);
    }
.public-name{
    color: rgb(155, 59, 158);   
}
footer{
margin: 25px;
}
#name-sport::after{
    content: " NEW";
    color: red;    
}
#flag::after { 
    content: " NEW";
    color: red;
} /* Много что получается далеко не с первого раза 
После того как создовал новость за новостью,
понимал что проще все стереть и написать сайт заного так как узнал что то новое ! 
Но это бесконечный процесс, надеюсь моя работа вас удовлетварит!
Сам же я понимаю что уже можно и лучше сделать.
*/